@charset "UTF-8";
/* 添加动画前缀 */
html {
  overflow: hidden; }

.common-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 201px;
  height: 100%;
  background: #242b34;
  z-index: 100;
  transition: left 1s ease;
  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -o-transition: left 1s ease;
  -ms-transition: left 1s ease; }
  .common-nav > .nav-header {
    position: relative;
    width: inherit;
    height: 75px;
    background: #018eed; }
    .common-nav > .nav-header > .logo-item {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 119px;
      height: 40px;
      margin: auto; }
  .common-nav > .nav-wrap {
    width: 100%;
    height: calc(100% - 75px);
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: auto; }
    .common-nav > .nav-wrap a {
      display: block;
      position: relative;
      padding-left: 31px; }
      .common-nav > .nav-wrap a:link {
        color: #888f97; }
      .common-nav > .nav-wrap a:hover {
        color: #888f97; }
      .common-nav > .nav-wrap a:visited {
        color: #888f97; }
    .common-nav > .nav-wrap img {
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border: none; }
    .common-nav > .nav-wrap .nav-list .nav-item {
      position: relative;
      width: 100%;
      height: 60px;
      line-height: 60px; }
      .common-nav > .nav-wrap .nav-list .nav-item.active {
        background: #282c35; }
      .common-nav > .nav-wrap .nav-list .nav-item.active:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        width: 6px;
        height: 100%;
        background: #018eed; }
      .common-nav > .nav-wrap .nav-list .nav-item .icon {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-index {
          width: 26px;
          height: 28px;
          background: url("../image/icon.png") no-repeat 0 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-index.active {
            background: url("../image/icon.png") no-repeat -26px 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-security {
          width: 23px;
          height: 29px;
          background: url("../image/icon.png") no-repeat -52px 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-security.active {
            background: url("../image/icon.png") no-repeat -75px 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-traffic {
          width: 20px;
          height: 32px;
          background: url("../image/icon.png") no-repeat -98px 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-traffic.active {
            background: url("../image/icon.png") no-repeat -118px 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-drug {
          width: 28px;
          height: 30px;
          background: url("../image/icon.png") no-repeat -138px 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-drug.active {
            background: url("../image/icon.png") no-repeat -166px 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-legal {
          width: 24px;
          height: 26px;
          background: url("../image/icon.png") no-repeat -193px 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-legal.active {
            background: url("../image/icon.png") no-repeat -217px 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-data-analysis {
          width: 30px;
          height: 32px;
          background: url("../image/icon.png") no-repeat -242px 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-data-analysis.active {
            background: url("../image/icon.png") no-repeat -272px 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-personnel-input {
          width: 33px;
          height: 34px;
          background: url("../image/icon.png") no-repeat -303px 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-personnel-input.active {
            background: url("../image/icon.png") no-repeat -337px 0; }
        .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-comprehensive {
          width: 28px;
          height: 29px;
          background: url("../image/icon.png") no-repeat -370px 0; }
          .common-nav > .nav-wrap .nav-list .nav-item .icon.icon-comprehensive.active {
            background: url("../image/icon.png") no-repeat -398px 0; }
      .common-nav > .nav-wrap .nav-list .nav-item .text {
        margin-left: 45px; }
        .common-nav > .nav-wrap .nav-list .nav-item .text.active {
          color: #fff; }

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  line-height: 74px;
  background: #fff;
  z-index: 51;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5); }
  .top-bar a {
    display: inline-block;
    vertical-align: middle;
    color: #111; }
  .top-bar > .wrap {
    position: relative;
    height: 100%;
    margin-left: 201px; }
    .top-bar > .wrap .warp-l {
      float: left;
      height: 100%; }
      .top-bar > .wrap .warp-l .icon-btn {
        width: 19px;
        height: 19px;
        margin: 0 50px 0 39px;
        background: url("../image/icon.png") no-repeat 0 -32px; }
      .top-bar > .wrap .warp-l .bar-text {
        font-size: 16.45px;
        color: #2b2b2b; }
    .top-bar > .wrap .warp-r {
      float: right;
      display: block;
      height: 100%;
      font-size: 0;
      display: 1s ease;
      -webkit-display: 1s ease;
      -moz-display: 1s ease;
      -o-display: 1s ease;
      -ms-display: 1s ease; }
      .top-bar > .wrap .warp-r .sysinfo-btn {
        position: relative;
        margin-right: 61px;
        font-size: 19.2px; }
        .top-bar > .wrap .warp-r .sysinfo-btn .red-dot {
          display: inline-block;
          position: absolute;
          top: 14px;
          padding: 0 8px;
          border-radius: 50px;
          text-align: center;
          font-size: 16.45px;
          line-height: 26px;
          color: #fff;
          background: #fd4b4b; }
      .top-bar > .wrap .warp-r .register-btn, .top-bar > .wrap .warp-r .login-btn {
        font-size: 19.2px; }
      .top-bar > .wrap .warp-r .seperate-l {
        display: inline-block;
        width: 1px;
        height: 18px;
        margin: 0 2px;
        vertical-align: middle;
        background: #111; }
      .top-bar > .wrap .warp-r .seperate-r {
        display: inline-block;
        width: 3px;
        height: 18px;
        margin: 0 24px;
        vertical-align: middle;
        background: #e0e0e0; }
      .top-bar > .wrap .warp-r .logout-btn {
        width: 23px;
        height: 24px;
        margin-right: 28px;
        background: url("../image/icon.png") no-repeat -19px -32px; }
    .top-bar > .wrap .operation-set {
      display: none;
      float: right;
      width: 100px;
      text-align: center; }
      .top-bar > .wrap .operation-set.active {
        background: rgba(136, 143, 151, 0.3); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease; }

/*# sourceMappingURL=common.css.map */
